<div class="row collapse align-middle">
  <div class="columns">
    <div class="row">
      <div class="button-group">
        <% if model.respond_to? :by_flag %>
          <%= render partial: 'record_shared/flag_records', locals: {model: model} %>
        <% end %>
        <% if display_actions %>
          <%= render partial: 'record_shared/actions', locals: {model: model} %>
        <% end %>

        <% if record == 'case' && !current_user.roles.map(&:name).include?('Referral') %>
          <ul id="menu" class="dropdown menu" data-dropdown-menu>
            <li class="init_btn">
              <a data-toggle="button left action_btn" data-close-on-click="true" class="button"><%= content_tag(:span, 'New Case') %></a>
              <ul class="menu">
                <% modules.each do |primero_module| %>
                  <li>
                    <%= content_tag( :a, primero_module.name, :class => 'dropdown_link', :'href' => new_polymorphic_path(record, module_id: primero_module.id)) %>
                  </li>
                <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div class="shrink columns">
    <% if display_create %>
      <%= render partial: 'record_shared/create_button', locals: {model: model, record: record, modules: modules} %>
    <% end %>
  </div>
</div>
